
  /********************************************** fin de heard la parte superior ***************************************************************************/
 

.container-formulario {
    max-width: 800px;
    margin: auto ;
    margin-top: 60px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    
}

h1 {
    text-align: center;
    margin-bottom: 0px;
}

.conteinerdedatos{
    display: flex;
    flex-direction: column;
}

.nombre-producto {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.datos-formulario{
    flex: 1;
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.guardar {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.guardar:hover {
    background-color: #0056b3;
}

@media (max-width: 490px) {
    .nombre-producto {
        flex-direction: column;
    }

    .datos-formulario {
        margin-right: 0;
    }
    .container-formulario {
      
      margin: 3% ;
      margin-top: 60px;
      padding: 20px;
      
  }
}
.search-flex {
    height: 43px;
    width: 453px;
    display: flex;
    align-self: center;
    background-color: #ffffff;
    padding: 1vw;
    border-radius: 25px;
}
/*foto de perfil*/
.imagendeperfil{
    display: flex;
    align-self: center;
   
}