body {
  background-image: url('/img/fondo.png');
  background-repeat: repeat;
}

.burger-menu {
  display: none;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*header pricipal*/
.header-container {
  background-color: #381891;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1vw;
}

#logo {
  display: inline;
  font-size: 30px;
  margin: 1vw 2vw;
  text-decoration: none;
  color: white;
}

#carrito {
  width: 4vw;
  margin: 0 10px 0 0;
}

#carrito:hover {
  transform: scale(1.15);
}

.fa-circle-user {
  font-size: 3vw;
}

.fa-circle-user:hover {
  transform: scale(1.15);
}

.search-flex {
  height: 40px;
  display: flex;
  align-self: center;
  background-color: #ffffff;
  padding: 1vw;
  border-radius: 25px;
}

.nav-principal {
  display: flex;
}

.nav-principal a {
  display: flex;
  text-decoration: none;
}

.burger-menu {
  font-size: 15px;
}

/* agregando barra de navegacion*/
.barra-navegacion {
  display: flex;
  justify-content: center;
  background-color: #381891;
  margin-top: 0px;
  padding: 1vw;
}

.barra-navegacion ul {
  display: none;
  margin: auto;
}

.barra-navegacion li {
  margin: 0vw 2vw;
}

li a {
  font-size: 15px;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: #00000000;
}

.micarrito {
  color: white;
  display: none;
  align-items: center;
}

.ingresar {
  color: white;
  display: none;
  align-items: center;
}

.search {
  height: 18px;
  background-color: #ffffff;
  width: 30vw;
}

.boton-buscar {
  background-color: #ffffff;
}

ul li {
  list-style: none;
  margin: 0 1vw 0 0;
}

.nav-principal {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 10px 0 0;
}

/*main*/
h1 {
  font-size: 4vw;
  padding: 3vw;
}

h4 {
  margin: 0 65px;
  font-size: 1vw;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }

  60% {
      -webkit-transform: translateX(calc(-200px * 7));
      transform: translateX(calc(-200px * 7));
  }
}


  

@media (min-width: 361px) {
  .flex-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }

  .imagenes {
      width: 200px;
  }

  

  .barra-navegacion ul {
      display: contents;
  }

  h2 {
      font-size: 25px;
  }
}

@media screen and (max-width: 490px)
 {

  .dropdown-content {
    margin-left: -131px;}
  #carrito {
    margin-left: -25px;
    width: 6vw;
  }
  .fa-circle-user {
    margin-left: -14px;
    font-size: 5vw;
  }
button {
  background-color: white;
  border-radius: 10px;
  font-size: 16px;
}

input[type="text"] {
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.search-flex {
  width: 166px;
height: 37px;
}
li a {
    font-size: 12px;
    text-decoration: none;
    color: white;
}
}

@media screen and (min-width: 490px){
  /* Estilos iniciales para los elementos de la barra de navegación */
.barra-i a {
  font-size: 18px; /* Tamaño de fuente inicial */
  color: #ffffff; /* Color de texto inicial */
  transition: font-size 0.3s, color 0.3s; /* Transiciones suaves para el cambio de tamaño de fuente y color */
}

/* Estilos al pasar el mouse por encima */
.barra-i a:hover {
  font-size: 22px; /* Tamaño de fuente al pasar el mouse por encima */
  color: #a200ff; /* Cambio de color al pasar el mouse por encima (azul) */
}
button {
  border-radius: 20px;
  background-color: white;
  margin-top: -9px;
  font-size: 30px;
}}

  .desc {
      font-size: 15px;
  }




/* Estilos para todas las pantallas */
.dropdown {
  position: relative;
  display: inline-block;
}


#dropdown.active .dropdown-content {
  display: block;
}
  .dropdown-content {
   
      margin-left: -105px;
    margin-top: -5px; /* Ajusta la distancia desde arriba */
    display: none;
    position: absolute;
    background-color: #381891;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #4622a7;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

.logo123{
  filter: drop-shadow(0 0 15px red); /* Sombra personalizada */
    animation: cambioColores 5s infinite; /* Se repite infinitamente durante 5 segundos */
}
@keyframes cambioColores {
  0% {
      filter: drop-shadow(0 0 15px red); /* Color inicial */
  }
  25% {
      filter: drop-shadow(0 0 15px blue); /* Cambio de color */
  }
  50% {
      filter: drop-shadow(0 0 15px green); /* Cambio de color */
  }
  75% {
      filter: drop-shadow(0 0 15px yellow); /* Cambio de color */
  }
  100% {
      filter: drop-shadow(0 0 15px red); /* Color final, igual al inicial */
  }
}


@media screen and (max-width: 600px) {
  #carrito {
    /* Cambios de estilo para móvil */
    width: 50px;
    height: 50px;
    /* Otros cambios de estilo */
  }

  
}

   
  