body {
    background-color: #5e089f;
  }
  
  * {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  /*header pricipal*/
  
  
  .header-container {
    background-color: #4300fb;
  
  }
  
  #logo {
    display: inline;
    font-size: 30px;
    margin: 1vw 2vw;
    text-decoration: none;
    color: white;
  }
  
  
  #carrito {
    width: 6vw;
    margin: 0 10px 0 0;
  
  }
  
  /**/
  #carrito:hover {
    transform: scale(1.15);
  }
  
  .fa-circle-user {
    font-size: 5vw;
  }
  
  /**/
  .fa-circle-user:hover {
    transform: scale(1.15);
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1vw;
  }
  
  .search-flex {
    display: flex;
    align-self: center;
    background-color: #ffffff;
    padding: 1vw;
    border-radius: 25px;
  
  }
  
  .nav-principal {
    display: flex;
  }
  
  .nav-principal a {
    display: flex;
    text-decoration: none;
  }
  
  .burger-menu {
    font-size: 15px;
  }
  
  /* agregando barra de navegacion*/
  .barra-navegacion {
    display: flex;
    justify-content: space-between;
    background-color: #4300fb;
    padding: 1vw;
  }
  
  .barra-navegacion ul {
    display: none;
    margin: auto;
  }
  
  .barra-navegacion li {
  
    margin: 0vw 2vw;
  }
  
  li a {
    font-size: 15px;
    text-decoration: none;
    color: white;
  }
  
  li a:hover {
    background-color: #00000000;
  }
  
  /*hasta aqui termina*/
  
  .micarrito {
    color: white;
    display: none;
    align-items: center;
  }
  
  .ingresar {
    color: white;
    display: none;
    align-items: center;
  }
  
  .search {
    background-color: #ffffff;
    width: 30vw;
  }
  
  .boton {
    background-color: #ffffff;
  }
  
  
  ul li {
    list-style: none;
    margin: 0 1vw 0 0;
  }
  
  .nav-principal {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 10px 0 0;
  }
  
  /*css del detalle del producto */
  .conteiner {
    display: flex;
  }
  
  .producto {
    border-bottom: solid 1px rgb(128, 128, 128);
  }
  
  /*barra de producto*/
  .linea-horizontal {
    border: 1px solid #175700;
    /* Ancho y color del borde de la línea */
    margin: 20px 0;
    /* Espacio antes y después de la línea */
  }
  
  h2 {
    margin: 0 15px;
    font-size: 4vw;
  }
  
  section {
    padding: 20px;
    margin: auto;
  }
  
  .imagenes {
    width: 80%;
  }
  
  article {
    margin-bottom: 15px;
  }
  
  .articulo {
    padding: 10px;
    border: solid 1px black;
    background-color: white;
    border-radius: 10px;
    transition: all 0.5s;
  }
  
  .articulo:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.418)
  }
  
  .img1 {
    width: 15vw;
  }
  
  .info-text {
    margin: 10px;
    font-size: 10px;
  }
  
  /* barra de producto */
  
  /*main*/
  
  h1 {
    font-size: 4vw;
    padding: 3vw;
  }
  
  h4 {
    margin: 0 65px;
    font-size: 1vw;
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  
    60% {
      -webkit-transform: translateX(calc(-200px * 7));
      transform: translateX(calc(-200px * 7));
    }
  }
  
  
  
 
  @media (min-width: 361px) {
  
  
    .flex-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  
    .imagenes {
      width: 200px;
    }
  
    .burger-menu {
      display: none;
    }
  
    .barra-navegacion ul {
      display: contents;
    }
  
    h2 {
      font-size: 25px;
    }
  
  }
  
  @media (min-width:769px) {
  
  
  
    #logo {
      display: inline;
      font-size: 21px;
      margin: 1vw 2vw;
      text-decoration: none;
      color: white;
    }
  
    #carrito {
      width: 3vw;
    }
  
    .nav-principal {
      margin: 0px 20px 0 0;
    }
  
    .fa-circle-user {
      font-size: 3vw;
    }
  
  
    .articulos {
      margin: 5px 5px;
  
  
    }
  
    .flex-container {
      display: flex;
  
    }
  
    .barra-navegacion ul {
      display: flex;
    }
  
    .desc {
      font-size: 15px;
  
    }
  }
  
  
  
  
 