body {
  background-color: #5e089f;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*header pricipal*/
.header-container {
  background-color: #4300fb;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1vw;
}

#logo {
  display: inline;
  font-size: 30px;
  margin: 1vw 2vw;
  text-decoration: none;
  color: white;
}

#carrito {
  width: 6vw;
  margin: 0 10px 0 0;
}

#carrito:hover {
  transform: scale(1.15);
}

.fa-circle-user {
  font-size: 5vw;
}

.fa-circle-user:hover {
  transform: scale(1.15);
}

.search-flex {
  display: flex;
  align-self: center;
  background-color: #ffffff;
  padding: 1vw;
  border-radius: 25px;
}

.nav-principal {
  display: flex;
}

.nav-principal a {
  display: flex;
  text-decoration: none;
}

.burger-menu {
  font-size: 15px;
}

/* agregando barra de navegacion*/
.barra-navegacion {
  display: flex;
  justify-content: space-between;
  background-color: #4300fb;
  padding: 1vw;
}

.barra-navegacion ul {
  display: none;
  margin: auto;
}

.barra-navegacion li {
  margin: 0vw 2vw;
}

li a {
  font-size: 15px;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: #00000000;
}

.micarrito {
  color: white;
  display: none;
  align-items: center;
}

.ingresar {
  color: white;
  display: none;
  align-items: center;
}

.search {
  background-color: #ffffff;
  width: 30vw;
}

.boton-buscar {
  background-color: #ffffff;
}

ul li {
  list-style: none;
  margin: 0 1vw 0 0;
}

.nav-principal {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 10px 0 0;
}

/*main*/
h1 {
  font-size: 4vw;
  padding: 3vw;
}

h4 {
  margin: 0 65px;
  font-size: 1vw;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }

  60% {
      -webkit-transform: translateX(calc(-200px * 7));
      transform: translateX(calc(-200px * 7));
  }
}

@media (min-width: 361px) {
  .flex-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }

  .imagenes {
      width: 200px;
  }

  .burger-menu {
      display: none;
  }

  .barra-navegacion ul {
      display: contents;
  }

  h2 {
      font-size: 25px;
  }
}

@media (min-width: 769px) {
  #logo {
      display: inline;
      font-size: 21px;
      margin: 1vw 2vw;
      text-decoration: none;
      color: white;
  }

  #carrito {
      width: 3vw;
  }

  .nav-principal {
      margin: 0px 20px 0 0;
  }

  .fa-circle-user {
      font-size: 3vw;
  }

  .articulos {
      margin: 5px 5px;
  }

  .flex-container {
      display: flex;
  }

  .barra-navegacion ul {
      display: flex;
  }

  .desc {
      font-size: 15px;
  }
}
