* {
    font-family: 'Bauhaus 93', sans-serif;
    box-sizing: border-box;
    color: darkorange;
    font-size: 14px;
    border-radius: 10px;
    border: none;
}
h1 {
    font-size: 30px;
}
h2{
    font-size: 18px;
}
header {
    display: flex;
    align-items: center;
}

body {
    background-image: url('/img/fondo-login.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen de fondo */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100vh;
    margin: 0;
    position: relative;
    right: 5vw;
}

.logocontenedor {
    display: flex; /* Utilizar flexbox */
    justify-content: space-between; /* Espaciado uniforme entre los elementos hijos */
    align-items: center; /* Alinear verticalmente los elementos al centro */
}

.logo {
    width: 25vw;
    filter: drop-shadow(0 0 15px red); /* Sombra personalizada */
    animation: cambioColores 5s infinite; /* Se repite infinitamente durante 5 segundos */
}
@keyframes cambioColores {
    0% {
        filter: drop-shadow(0 0 15px red); /* Color inicial */
    }
    25% {
        filter: drop-shadow(0 0 15px blue); /* Cambio de color */
    }
    50% {
        filter: drop-shadow(0 0 15px green); /* Cambio de color */
    }
    75% {
        filter: drop-shadow(0 0 15px yellow); /* Cambio de color */
    }
    100% {
        filter: drop-shadow(0 0 15px red); /* Color final, igual al inicial */
    }
}

a {
    text-decoration: none;
    color: dodgerblue;
}

button{
    color: #0c192c;
}
.login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.login input{
    width: 70%;
}

.recordar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.caja1{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;

}

.email, .password{
    width: 70%;
    /*color: black;*/
}

.redes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
}
.gmail, .facebook{
    width: 48%;
}
.icon {
    width: 25px;
    height:25px;
}

.iniciar-sesion{
    width: 70%;
    background-color: skyblue;
}
footer{
    display: flex;
    justify-content: center;
}

.form-group{
    width: 80%;
    height:25px;
    margin: 20px;
}

.form-group2{
    width: 80%;
    height:25px;
    margin: 20px;
}


/* validacion de frond end */
.form-group.error input,
.form-group.error select {
    border-color: #e74c3c; /* Color del borde del campo con error */
}

.form-group small {
    color: #e74c3c; /* Color del mensaje de error */
    display: none; /* Ocultar el mensaje de error por defecto */
}

.form-group.error small {
    display: block; /* Mostrar el mensaje de error cuando hay un error */
}

/* Estilos para los campos con éxito */
.form-group.success input,
.form-group.success select {
    border-color: #2ecc71; /* Color del borde del campo con éxito */
}

.footerfinal{
    margin-right: 25vw;
}

.manclass{
    margin-right: 10vw;
}