body {
  background-color: #5e089f;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*header pricipal*/


.header-container {
  background-color: #4300fb;

}

#logo {
  display: inline;
  font-size: 30px;
  margin: 1vw 2vw;
  text-decoration: none;
  color: white;
}


#carrito {
  width: 6vw;
  margin: 0 10px 0 0;

}

/**/
#carrito:hover {
  transform: scale(1.15);
}

.fa-circle-user {
  font-size: 5vw;
}

/**/
.fa-circle-user:hover {
  transform: scale(1.15);
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-flex {
  display: flex;
  align-self: center;
  background-color: #ffffff;
  padding: 1vw;
  border-radius: 25px;

}

.nav-principal {
  display: flex;
}

.nav-principal a {
  display: flex;
  text-decoration: none;
}

.burger-menu {
  font-size: 15px;
}

/* agregando barra de navegacion*/
.barra-navegacion {
  display: flex;
  justify-content: space-between;
  background-color: #4300fb;
  padding: 1vw;
}

.barra-navegacion ul {
  display: none;
  margin: auto;
}

.barra-navegacion li {

  margin: 0vw 2vw;
}

li a {
  font-size: 15px;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: #00000000;
}

/*hasta aqui termina*/

.micarrito {
  color: white;
  display: none;
  align-items: center;
}

.ingresar {
  color: white;
  display: none;
  align-items: center;
}

.search {
  background-color: #ffffff;
  width: 30vw;
}

.boton {
  background-color: #ffffff;
}


ul li {
  list-style: none;
  margin: 0 1vw 0 0;
}

.nav-principal {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 10px 0 0;
}

/*css del detalle del producto */
.conteiner {
  display: flex;
}

.producto {
  border-bottom: solid 1px rgb(128, 128, 128);
}

/*barra de producto*/
.linea-horizontal {
  border: 1px solid #175700;
  /* Ancho y color del borde de la línea */
  margin: 20px 0;
  /* Espacio antes y después de la línea */
}

h2 {
  margin: 0 15px;
  font-size: 4vw;
}

section {
  padding: 20px;
  margin: auto;
}

.imagenes {
  width: 80%;
}

article {
  margin-bottom: 15px;
}

.articulo {
  padding: 10px;
  border: solid 1px black;
  background-color: white;
  border-radius: 10px;
  transition: all 0.5s;
}

.articulo:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.418)
}

.img1 {
  width: 15vw;
}

.info-text {
  margin: 10px;
  font-size: 10px;
}

/* barra de producto */

/*main*/

h1 {
  font-size: 4vw;
  padding: 3vw;
}

h4 {
  margin: 0 65px;
  font-size: 1vw;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  60% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px * 7));
  }
}



.conteiner img {
  height: 400px;
  width: 297px;
  background-color: rgb(0, 0, 0);
  margin: 100px 100px 10px 100px;
  border: 2px solid rgb(255, 0, 0);
  /* Grosor, estilo y color del borde */
  padding: 15px;
  border-radius: 15px;
  transform: scale(1.05);
  /* Escala el contenedor al 105% en el hover */
  box-shadow: 0 0 40px rgba(0, 81, 152, 0.3);


}

/* Estilos para la imagen */
.container img {
  max-width: 100%;
  /* La imagen no será más ancha que el 100% del ancho del contenedor */
  height: auto;
  /* La altura de la imagen se ajustará automáticamente para mantener la proporción */
  background-color: white;
  border-radius: 15px;
  transition: transform 0.3s;
  /* Agrega una transición suave al hacer hover */
}

/* Estilos para el hover de la imagen */
.container img:hover {
  transform: scale(1.05);
  /* Escala la imagen al 105% en el hover */
}

.descripcion {
  color: white; 
  float: right;
}

.descripcion {


  display: inline-block;
  margin-top: 100px;
  margin-right: 50px;

}

.boton-padre {
  border: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.boton-agregar {

  border-radius: 15px;
  background-color: #1259c3;
}
.boton-editar {

  border-radius: 15px;
  background-color: #d2691e;
}
.boton-eliminar {

  border-radius: 15px;
  background-color: #f84525;
}
.boton-comprar {

  border-radius: 15px;
  background-color: #1259c3;
}

.btn {
  font-size: 15px;
}

.btn1 {
  font-size: 15px;
}

a {

  text-decoration: none;
  color: black;
  font-size: 2vw;
}

@media (min-width: 361px) {


  .flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .imagenes {
    width: 200px;
  }

  .burger-menu {
    display: none;
  }

  .barra-navegacion ul {
    display: contents;
  }

  h2 {
    font-size: 25px;
  }

}

@media (min-width:769px) {



  #logo {
    display: inline;
    font-size: 21px;
    margin: 1vw 2vw;
    text-decoration: none;
    color: white;
  }

  #carrito {
    width: 3vw;
  }

  .nav-principal {
    margin: 0px 20px 0 0;
  }

  .fa-circle-user {
    font-size: 3vw;
  }


  .articulos {
    margin: 5px 5px;


  }

  .flex-container {
    display: flex;

  }

  .barra-navegacion ul {
    display: flex;
  }

  .desc {
    font-size: 15px;

  }
}




@media (max-width:730px) {


  .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .descripcion {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  .producto h3 {
    margin: 10px 0;
  }

  .boton-padre {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .boton-pa {
    margin: 0 10px;
  }


  #logo {
    display: inline;
    font-size: 21px;
    margin: 1vw 2vw;
    text-decoration: none;
    color: white;
  }

  /* Estilos para imágenes responsivas */

  .conteiner img {
    width: 96%;
    background-color: white;
    margin: 67px 91px 28px 91px;
    border: 2px solid grey;
  }

  .img {
    max-width: 100%;
    height: auto;
  }

  .desc {
    font-size: 15px;
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
  }

}


/*ultimas modificaciones*/
element.style {
  width: 500px;
  height: 50px;
}

footer{
  margin-top: 100px;
}

.btn:hover {
  font-size: 16px;
  color: #fff; /* Color de texto blanco */
    text-shadow: 0 0 10px rgba(128, 0, 128, 0.8); 
}

.btn1:hover {
  font-size: 16px;
  color: #fff; /* Color de texto blanco */
    text-shadow: 0 0 10px rgba(128, 0, 128, 0.8); 
}

.boton-eliminar:hover {
  font-size: 16px;
  color: #fff; /* Color de texto blanco */
    text-shadow: 0 0 10px rgba(128, 0, 128, 0.8); 
}
.nombre-del-juego{
  font-size: 30px;
  color: #fff; /* Color de texto blanco */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Sombra de texto blanca */
  transition: text-shadow 0.3s ease-in-out;
}