<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <title>炎ATLAS炎_carrito</title>
    <link rel="shortcut icon" href="/img/logo-tienda.png">
    <!-- link para cargar los iconos  -->

    <script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>

    <script src="script.js"></script>

</head>

<body>
    <%- include('partials/header1') %>
    <main>

        <div class="carrito">
            <!-- Primer artículo -->
            <div class="item" id="articulo-1">
                <a href="http://localhost:3060/producto/2">
                    <img src="/img/imagenes-productos/producto02.png" alt="Producto 1">
                </a>
                
                <a href="http://localhost:3060/producto/2">
                    <h3>Grand Theft Auto IV</h3>
                  </a>
                <p>$99,98</p>
                <!-- Botón para eliminar el artículo -->
                <a href="#articulo-1" class="eliminar">Eliminar</a>
                <a href="http://localhost:3060/listaDeDeseos" class="mover">Mover a lista de deseos</a>
            </div>

            <!-- Segundo artículo -->
            <div class="item2" id="articulo-2">
                <img src="/img/halo.png" alt="Producto 2">
                <h3>halo infinite</h3>
                <p>$150</p>
                <!-- Botón para eliminar el artículo -->
                <a href="#articulo-2" class="eliminar">Eliminar</a>
                <a href="http://localhost:3060/listaDeDeseos" class="mover">Mover a lista de deseos</a>
            </div>


            <!-- Total del carrito -->
            <div class="total">
                <h3>Total</h3>
                <p id="totalPrecio">$249,98</p>
            </div>


                
        </div>
        <br>
        <footer>
            <!-- footer -->
            <%- include('partials/footer') %>
                <!-- /footer -->
        </footer>



    </main>
              <!-- Botón con la imagen -->
              <a href="https://chat.whatsapp.com/Bg7AfwgEvoiFvSxENXjvJT" class="boton-imagen">
                <img src="/img/whasapp.png" alt="Botón con Imagen">
            </a>
        
</body>

</html>