<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404 - P치gina no encontrada</title>
  <!-- Enlaces a Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Personalizaci칩n de estilos */
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f8f9fa;
    }

    .error-container {
      text-align: center;
    }

    .error-code {
      font-size: 320px;
      color: #dc3545;
    }

    .error-message {
      font-size: 54px;
      margin-bottom: 20px;
    }

    .back-home-btn {
      font-size: 18px;
    }
  </style>
</head>
<body style="background-image: url('/img/3.gif'); background-size: cover; background-position: center;">
  <div class="container">
    <div class="error-container">
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
      <div class="error-message" style="color: #ffffff;;">Lo sentimos, la p치gina que buscas no se encuentra.</div>
      <a href="/" class="btn btn-primary back-home-btn">Volver a la p치gina principal</a>
    </div>
  </div>
  
</div>
</body>
</html>
