<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/inicio.css">
    <title>炎ATLAS炎</title>
    <link rel="shortcut icon" href="/img/logo-tienda.png">
    <script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <header>
        <a href="http://localhost:3060/">
            <div class="logo01">
                <img src="/img/logo-tienda.png" alt="logo-tienda">
            </div>
        </a>

        <!-- barra de búsquedas -->
        <div class="search-container">
            <input type="text" placeholder="buscar juegos" style="font-size: 25px;"
                style="font-family: 'Bauhaus 93', sans-serif;">
            <button class="btn-icon">
                <i class="fa-solid fa-magnifying-glass" style="font-size: 30px;"></i>
            </button>

            <div class="usuario">
                <a href="http://localhost:3060/inicioDeSesion">
                    <button class="btn-logo">
                        <img src="/img/logo-usuario.png" alt="logo-usuario">
                    </button>
                </a>
            </div>
        </div>

        <!-- menu de opciones -->

        <nav class="menu">
            <ul class="menu-opciones">
                <li><a href="http://localhost:3060/">INICIO</a></li>
                <li><a href="http://localhost:3060/bibloteca">BIBLIOTECA</a></li>
                <li><a href="http://localhost:3060/listaDeDeseos">LISTA DE DESEOS</a></li>
                <li><a href="http://localhost:3060/carrito">CARRITO</a></li>
            </ul>
        </nav>



    </header>


    <main>
         <!-- inicio de carrcel -->
        <div class="carousel-wrapper">
            <span id="item-1"></span>
            <span id="item-2"></span>
            <span id="item-3"></span>
            <span id="item-4"></span>
            <span id="item-5"></span>
            <span id="item-6"></span>
            
            <div class="carousel-item item-1">
              <a href="#item-6" class="arrow-prev arrow"></a>
              <a href="#item-2" class="arrow-next arrow"></a>
            </div>
          
            <div class="carousel-item item-2">
              <a href="#item-1" class="arrow-prev arrow"></a>
              <a href="#item-3" class="arrow-next arrow"></a>
            </div>
          
            <div class="carousel-item item-3">
              <a href="#item-2" class="arrow-prev arrow"></a>
              <a href="#item-4" class="arrow-next arrow"></a>
            </div>
          
            <div class="carousel-item item-4">
              <a href="#item-3" class="arrow-prev arrow"></a>
              <a href="#item-5" class="arrow-next arrow"></a>
            </div>
          
            <div class="carousel-item item-5">
              <a href="#item-4" class="arrow-prev arrow"></a>
              <a href="#item-6" class="arrow-next arrow"></a>
            </div>
          
            <div class="carousel-item item-6">
              <a href="#item-5" class="arrow-prev arrow"></a>
              <a href="#item-1" class="arrow-next arrow"></a>
            </div>
          </div>
          <!-- fin de carrcel -->

            <!-- Contenedor de los productos -->
           
            
            <!--usamos un siclo for para  repetir los productos-->
            <div class="contenedor-productos">
<% products.forEach(product => { %>
             
        
            <% for( let i= 0; i <1; i++ ) { %>
                <!-- Productos-->
                <article class="producto">
                     
                    <div class="contenido-producto">
                        <a href="http://localhost:3060/producto/<%= product.id %>">
                            <div class="imagenes-ultimas-visitas">
                                <img src="/img/imagenes-productos/<%= product.image %>" alt="Imagen de MacBook">
                            </div>
                        </a>
                        <div class="descripcion-producto">
                            <a href="http://localhost:3060/producto">
                                <h2 class="titulo"><%= product.name %></h2>
                            </a>
                            <div class="contenedor-flex">

                                <div class="icono-descarga">
                                   <i class="fa-solid fa-gamepad" style="color: #ff0088;"></i>
                                </div>
                                <p class="precio">$<%= product.price %></p>
                            </div>




                        </div>
                  </div>
                </article>
          <% } %>
         <% }) %> 

            <!-- Botón con la imagen -->
    <a href="https://chat.whatsapp.com/Bg7AfwgEvoiFvSxENXjvJT" class="boton-imagen">
        <img src="/img/whasapp.png" alt="Botón con Imagen">
    </a>



    </main>
    <footer>
        <section>
            <div class="icono-facebook">
                <i class="fa-brands fa-facebook"></i>

            </div>
            <h3>Seguimos es Facebook </h3>

            <p>🎁Entérate antes que nadie de nuestras ofertas y nuevos alzamiento y ofertas únicas que esperas 😎</p>
        </section>
        <section>
            <div class="icono-de-youtube">
                <i class="fa-brands fa-youtube"></i>

            </div>
            <h3>Mira nuestro canal </h3>

            <p>👀Todo sobre el mundo de los video juegos gameplay, noticias, tutoriales, y más te esperamos 🎮</p>
        </section>
        <section>
            <div class="icono-whatsapp">
                <i class="fa-brands fa-whatsapp"></i>

            </div>
            <h3>¿Necesitas ayuda?</h3>

            <p>🤔No dudes y comunícate con nosotros 24/7 estamos para ayudarte en lo que necesites 📞</p>
        </section>
        <p class="derechos-autor">copyright &copy; 2023-2023 TIENDA S.A.</p>
    </footer>

</body>

</html>