<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/producto.css">
  <script src="https://kit.fontawesome.com/e666ffac4e.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

<!-- header -->
<%- include('partials/header') %>
<!-- /header -->


  <main>
    <!-- detalle del producto -->

    <div class="conteiner">
      <img src="/img/gta.png" alt="imgan1">

      <div class="descripcion">
        <div class="producto">
          <h2 class="nombre-del-juego">
            GRAND THEFT AUTO VI</h2>
          <h3 class="categoria">CATEGORIA: accion/mundo abierto</h3>
        </div>
        <h3 class="precio-juego">Precio: $99.99</h3>
        <br> </br>
        <h3>Descripcion:</h3>
        <p class="descripcion-del-juego">con una magnífica cámara de 200 MP para capturar todos los momentos de día
          Escribe, dibuja y crea con el S-pen integrado. Fabricado con materiales ecológicos y sostenibles
          y cuenta con un poderoso procesamiento, una pantalla adaptativa automática de 6.8 pulgadas y una batería
          que dura todo el día</p>
        <br></br>
        <div class="boton-padre">
          <label>
            <button class="boton-agregar" type="submit"><a href="http://localhost:3060/carrito" class="btn">AGREGAR AL
                CARRITO</a></button>
          </label>
          <button class="boton-editar" type="submit"><a href="@" class="btn1">EDITAR PRODUCTO</a></button>
          </label>



        </div>
        <br></br>
        <div class="boton-padre">
          <label>
            <button class="boton-comprar" type="submit"><a href="http://localhost:3060/carrito"
                class="btn">COMPRAR</a></button>
          </label>
          <button class="boton-eliminar" type="submit"><a href="@" class="btn1">ELIMINAR</a></button>
          </label>



        </div>
      </div>

    </div>

  </main>
  <!-- footer -->
  <%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>