<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/register.css">
  <title>炎ATLAS炎</title>
  <link rel="shortcut icon" href="/img/logo-tienda.png">
  
  <script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <img src="/img/logo-tienda.png" alt="Logo de la empresa" class="logo">
    <form action="#" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required>
        
        <button type="submit">Registrarse</button>
        <a href="http://localhost:3060/inicioDeSesion">Ya tengo cuenta</a>
    </form>
    
</div>
  
</body>

</html>