<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="footer-conteiner-principal">
        <div class="footer-content-container">
            <h3 class= "website-logo"> "NombredelSitio"<i class="fa-solid fa-gamepad"></i></h3>
        
            <a href="http://localhost:3060/" class="items-footer"><i class="fa-solid fa-shop"></i></i>Home</a>
            <a href="http://localhost:3060/bibloteca" class="items-footer"><i class="fa-solid fa-list-check"></i>Catalogos</a>
        </div>
        <div class="footer-opciones">
            <div class="footer-content-container">
                <span class="menu-titulo">Ayuda</span>
                    <a href="#" class="items-footer"><i class="fa-solid fa-barcode"></i>Compras en linea</a>
                    <a href="#" class="items-footer"><i class="fa-solid fa-truck-fast"></i>Envios</a>
                    <a href="http://localhost:3060/carrito" class="items-footer"><i class="fa-brands fa-shopify"></i>Mis pedidos</a>
                    <a href="#" class="items-footer"><i class="fa-solid fa-location-dot"></i>Contactanos</a>
            </div>
            <div class="footer-content-container">
                <span class="menu-titulo">Nosotros</span>
                    <a href="#" class="items-footer"><i class="fa-solid fa-handshake"></i>Nuestro Equipo</a>
                    <a href="#" class="items-footer"><i class="fa-solid fa-route"></i></i></i>Sucursales</a>
                    <a href="#" class="items-footer"><i class="fa-solid fa-gifts"></i>Eventos</a>
                    <a href="#" class="items-footer"><i class="fa-solid fa-user-plus"></i>Testimonio de Clientes</a>
            </div>
            <div class="footer-content-container">
                <span class="menu-titulo">Legal</span>
                    <a href="#" class="items-footer">Información legal</a>
                    <a href="#" class="items-footer">Terminos y Condiciones</a>
                    <a href="#" class="items-footer">Política de privacidad</a>
                    <a href="#" class="items-footer">Soporte Técnico</a>
            </div>
        </div>
        <div class="footer-content-container">
            <span class="menu-titulo">Siguenos :</span>
            <div class="footer-content-social">
                <a href="#" class="social-footer"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="social-footer"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="social-footer"><i class="fa-brands fa-tiktok"></i></a>
                <a href="#" class="social-footer"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>

    </div>
    <div class="copyright-container"> 
     <span class="copyright"> ©Copyright; Todos los derechos reservados por los alumnos del Grupo 1, 2023.</span>
    </div>
   
</footer>