<link rel="stylesheet" href="/css/footer.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<footer>
    <div class="footer-conteiner-principal">
        <div class="footer-content-container">
            <h3 class= "website-logo">  炎ATLAS炎  </h3>
        
            <a href="http://localhost:3060/" class="items-footer"><i class="fa-solid fa-shop"></i></i> Home</a>
            <a href="http://localhost:3060/bibloteca" class="items-footer"><i class="fa-solid fa-book-skull"></i> Biblioteca</a>
            <a href="http://localhost:3060/Presentacion" class="items-footer"><i class="fa-brands fa-youtube"></i> Presentacion</a>
        </div>
        <div class="footer-opciones">
            <div class="footer-content-container">
                <span class="menu-titulo">Ayuda</span>
                    <a href="http://localhost:3060/api/games" class="items-footer"><i class="fa-solid fa-gamepad"></i> API de video juegos</a>
                    <a href="http://localhost:3060/api/users" class="items-footer"><i class="fa-regular fa-user"></i>  API de usuarios</a>
                    <a href="http://localhost:3060/api/gamescategory" class="items-footer"><i class="fa-solid fa-list"></i> API de categorias de juegos</a>
                    <a href="http://localhost:3060/Envios" class="items-footer"><i class="fa-solid fa-truck-fast"></i> Envios</a>
                   
            </div>
            <div class="footer-content-container">
                <span class="menu-titulo">Nosotros</span>
                    <a href="http://localhost:3060/equipo" class="items-footer"><i class="fa-solid fa-handshake"></i>Nuestro Equipo</a>
                    <a href="http://localhost:3060/sucursal" class="items-footer"><i class="fa-solid fa-route"></i></i></i>Sucursales</a>
                    <a href="http://localhost:3060/eventos" class="items-footer"><i class="fa-solid fa-gifts"></i>Eventos</a>
                    <a href="http://localhost:3060/testimonios" class="items-footer"><i class="fa-solid fa-user-plus"></i>Testimonio de Clientes</a>
            </div>
            <div class="footer-content-container">
                <span class="menu-titulo">Documentacion</span>
                    <a href="http://localhost:3060/sprints" class="items-footer">Sprints</a>
                    <a href="http://localhost:3060/terminosYCondiciones" class="items-footer">Terminos y Condiciones</a>
                    <a href="http://localhost:3060/politicasDePrivaciodad" class="items-footer">Política de privacidad</a>
                    <a href="https://chat.whatsapp.com/Bg7AfwgEvoiFvSxENXjvJT" class="items-footer">Soporte Técnico</a>
                    
            </div>
        </div>
        <div class="footer-content-container">
            <span class="menu-titulo">Siguenos :</span>
            <div class="footer-content-social">
                <a href="#" class="social-footer"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="social-footer"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="social-footer"><i class="fa-brands fa-tiktok"></i></a>
                <a href="#" class="social-footer"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>

    </div>
    <div class="copyright-container"> 
     <span class="copyright"> ©Copyright; Todos los derechos reservados por los alumnos del Grupo 1, 2023.</span>
    </div>
   
</footer>