<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header Bootstrap</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="http://localhost:3060/">
        <img src="/img/logotiendanuevo2.png" alt="Logo" class="img-fluid" style="width: 50%; max-width: 470px; height: auto;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:3060/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3060/bibloteca">Biblioteca</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3060/listaDeDeseos">Lista de Deseos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3060/carrito">Carrito</a>
          </li>
          <% if (locals.userlogged && locals.userlogged.category === "admin") { %>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3060/cargaDeProducto">Admin</a>
            </li>
          <% } %>
          <% if (locals.islogget) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/img/imagenes-usuario/<%= locals.userlogged.image %>" alt="imagen1" style="border-radius: 50%; width: 50px; height: 50px;">
                <p class="ingresar">Ingresar</p>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/edicionUsuario/<%= locals.userlogged.id %>">Edición de Perfil</a>
                <a class="dropdown-item" href="/cerrarSession">Cerrar Sesión</a>
              </div>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3060/inicioDeSesion">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3060/registro">Registrarse</a>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Bootstrap JS y FontAwesome (si es necesario) -->
  <script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
