<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>炎ATLAS炎_Perfil de Equipo</title>
    <link rel="shortcut icon" href="/img/logo-tienda.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Font Awesome para iconos -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<%- include('../partials/header1') %>
<body style="background-image: url('/img/fondo.png'); background-size: cover; background-position: center;">
  
  <div class="container mt-5">
    <h1 class="text-center mb-4" style="color: #ffffff;;">Equipo de Desarrollo</h1>

    <br>
    <br>
    <br>
    <div class="row">
      <!-- Perfiles de cada miembro -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="/img/imagenes-extras/ivan.jpg" class="card-img-top" alt="Imagen de Perfil">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-user mr-2"></i>Ivan Cruz
            </h5>
            <p class="card-text">
              <i class="fas fa-envelope mr-2"></i>ivan4912134@gmail.com
            </p>
            <p class="card-text">
              <i class="fas fa-phone mr-2"></i>+543884211576
            </p>
          </div>
        </div>
      </div>
      <!-- Repite este bloque para cada miembro -->
      <!-- Perfiles de cada miembro -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="/img/imagenes-extras/nahuel2.png" class="card-img-top" alt="Imagen de Perfil">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-user mr-2"></i>Nahuel Alex Torres
            </h5>
            <p class="card-text">
              <i class="fas fa-envelope mr-2"></i>nahuel240701@gmail.com
            </p>
            <p class="card-text">
              <i class="fas fa-phone mr-2"></i>+5493886651283
            </p>
          </div>
        </div>
      </div>
      <!-- Perfiles de cada miembro -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="/img/imagenes-extras/jere.jpg" class="card-img-top" alt="Imagen de Perfil">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-user mr-2"></i>Jeremias Carballo
            </h5>
            <p class="card-text">
              <i class="fas fa-envelope mr-2"></i>christian.carballo.zegada@gmail.com
            </p>
            <p class="card-text">
              <i class="fas fa-phone mr-2"></i>+5493884791734
            </p>
          </div>
        </div>
      </div>
      <!-- Perfiles de cada miembro -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="/img/imagenes-extras/dani.jpeg" class="card-img-top" alt="Imagen de Perfil">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-user mr-2"></i>Lopez Daniela Soledad 
            </h5>
            <p class="card-text">
              <i class="fas fa-envelope mr-2"></i>danielalopez2945@gmail.com
            </p>
            <p class="card-text">
              <i class="fas fa-phone mr-2"></i>+5493888568329
            </p>
          </div>
        </div>
      </div>
      <!-- Perfiles de cada miembro -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="ruta_de_la_imagen.jpg" class="card-img-top" alt="Imagen de Perfil">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-user mr-2"></i>Nombre del Miembro
            </h5>
            <p class="card-text">
              <i class="fas fa-envelope mr-2"></i>correo@example.com
            </p>
            <p class="card-text">
              <i class="fas fa-phone mr-2"></i>+1234567890
            </p>
          </div>
        </div>
      </div>
      <!-- Puedes duplicar el código dentro de col-md-4 para cada miembro del equipo -->
    </div>
  
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <%- include('../partials/footer.ejs') %>
</body>
</html>
