<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>炎ATLAS炎_Eventos</title>
  <link rel="shortcut icon" href="/img/logo-tienda.png">
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<%- include('../partials/header1') %> 
<body style="background-image: url('/img/fondo.png'); background-size: cover; background-position: center;">
  <div class="container mt-4">
    <h1 class="text-center mb-4" style="color: #ffffff;;">Eventos en Tienda Atlas</h1>
    <div class="row">
      <!-- Evento 1 -->
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="/img/imagenes-extras/event1.png" class="card-img-top" alt="Evento 1">
          <div class="card-body">
            <h5 class="card-title">Fiesta de lanzamiento de nuevos juegos</h5>
            <p class="card-text">Ven y únete a la celebración del lanzamiento de los juegos más esperados. ¡Habrá concursos, premios y mucho más!</p>
            <a href="#" class="btn btn-primary">Detalles</a>
          </div>
        </div>
      </div>

      <!-- Evento 2 -->
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="/img/imagenes-extras/even2.png" class="card-img-top" alt="Evento 2">
          <div class="card-body">
            <h5 class="card-title">Torneo de eSports</h5>
            <p class="card-text">Participa en nuestro torneo de eSports. Demuestra tus habilidades y compite con otros jugadores. ¡Premios increíbles te esperan!</p>
            <a href="#" class="btn btn-primary">Detalles</a>
          </div>
        </div>
      </div>

      <!-- Evento 3 -->
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="/img/imagenes-extras/even3.png" class="card-img-top" alt="Evento 3">
          <div class="card-body">
            <h5 class="card-title">Noche de juegos retro</h5>
            <p class="card-text">Revive la nostalgia con nuestra noche de juegos retro. Disfruta de los clásicos y comparte momentos increíbles.</p>
            <a href="#" class="btn btn-primary">Detalles</a>
          </div>
        </div>
      </div>

      <!-- Evento 4 -->
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="/img/imagenes-extras/even4.png" class="card-img-top" alt="Evento 4">
          <div class="card-body">
            <h5 class="card-title">Presentación exclusiva de un nuevo hardware</h5>
            <p class="card-text">Asiste a la presentación exclusiva de un nuevo hardware para juegos. Descubre la tecnología del futuro en juegos.</p>
            <a href="#" class="btn btn-primary">Detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <%- include('../partials/footer.ejs') %>
</body>

</html>
