<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Encabezado y enlaces a Bootstrap -->
    <title>炎ATLAS炎_Ubicación de Sucursal</title>
    <link rel="shortcut icon" href="/img/logo-tienda.png">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<%- include('../partials/header1') %>
<body style="background-image: url('/img/fondo.png'); background-size: cover; background-position: center;">

    <!-- Contenedor principal -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- Encabezado -->
                <div class="text-center mb-4">
                    <h2 style="color: #ffffff;;">Testimonios de Clientes</h2>
                    <p style="color: #ffffff;;">Estos son algunos testimonios de nuestros clientes satisfechos.</p>
                </div>

                <!-- Testimonios utilizando cards -->
                <div class="card-deck">
                    <!-- Testimonio 1 -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Juan Pérez</h5>
                            <p class="card-text">¡Esta tienda es increíble! Encontré todos los juegos que estaba
                                buscando y el servicio al cliente es excelente.</p>
                            <div class="text-warning">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonio 2 -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">María Gómez</h5>
                            <p class="card-text">¡Me encanta comprar aquí! Siempre encuentro los últimos lanzamientos y
                                el envío es rápido.</p>
                            <div class="text-warning">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonio 3 -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Luisa Rodríguez</h5>
                            <p class="card-text">¡Esta tienda es genial! Siempre tienen ofertas increíbles y la variedad
                                de juegos es asombrosa.</p>
                            <div class="text-warning">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>

                </div>

                <br>
                <br>
                <br>
                <div class="card-deck">
                    <!-- Testimonio 4 -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Pedro González</h5>
                            <p class="card-text">Esta tienda es espectacular. Los precios son excelentes y la atención
                                al cliente es maravillosa.</p>
                            <div class="text-warning">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonio 5 -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ana Martínez</h5>
                            <p class="card-text">¡Esta tienda es mi lugar favorito para comprar videojuegos! Siempre
                                tienen las últimas novedades.</p>
                            <div class="text-warning">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonio 6 -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Elena Sánchez</h5>
                            <p class="card-text">¡Increíble experiencia! Encontré todos los juegos que buscaba y el
                                proceso de compra fue muy sencillo.</p>
                            <div class="text-warning">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
</body>

<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<br>
<footer>
    <br>
    <%- include('../partials/footer.ejs') %>
</footer>


</html>